# Database
DATABASE_URL="sqlite:./doll_shop.db"

# JWT Secret for Admin
JWT_SECRET="doll-shop-secret-key-2024"

# App URL (Injected by platform, but for local reference)
APP_URL="http://localhost:3000"
